@model BarControl.Model.Client

@* This import requires that a object Client is passed to this view, which is gonna serve as this screen model *@
@* We are passing the object on the HttpGet route of Add, where we initialize an instance of Client, which is used here *@
<!DOCTYPE html>

<html>
<head>
    <title>Add client</title>
</head>
<body>
<h1>Add client</h1>
<div>
    <form method='post' action='/clients/add'>
        <input type="hidden" name="Id" id="Id" />
        <label asp-for="Name">Name: </label>
        <input type='text' placeholder='Client name here' asp-for="Name" /> @*asp-for: id, name, required*@
        <button type='submit'>Add Client</button>
    </form>
</div>
</body>
</html>