@model BarControl.Model.Table

@{
    ViewData["Title"] = "Details";
}

<h1>@typeof(Table).Name - @Model.Number</h1>
<div>
    <h4>@typeof(Table).Name</h4>
    <hr />
    <dt>
        <a asp-action="Edit" asp-route-id="@Model?.Id"></a>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Number)
    </dd>
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

