
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Change it</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/styles/general.css" asp-append-version="true" />
</head>
<body>
<partial name="_Header"/> @*Partial view, this one is for the header*@

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <p>Controle de bar pipipipopopo</p>
    </div>
</footer>

@RenderSection("Scripts", required:false)
</body>
</html>