@using ControleDeBar.Model
@model List<Cliente>
@{
    Layout = null;

}


<html>
<head>
    <title>Meu Primeiro Website</title>
</head>

<body>
    <h1>Clientes</h1>

    <a href="/clientes/adicionar">Adicionar Cliente</a>

    <table>
        <thead>
            <tr>

                <th>Id</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Deletar</th>
                <th>Detalhes</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (Cliente cliente in Model)
                {

                    <tr>
                        <td>@cliente.Id</td>
                        <td>
                            <span>@cliente.Nome</span>
                        </td>

                        <td>
                            <a href="/clientes/editar/@cliente.Id">Editar</a>
                        </td>
                        <td>
                            <a href="/clientes/deletar/@cliente.Id">Deletar</a>
                        </td>
                        <td>
                            <a href="/clientes/detalhes/@cliente.Id">Detalhes</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>